.img {
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 99;
}
.row {
  margin: 100px 220px;
  display: flex;
  justify-content: space-around;
}
.row .left {
  flex: 2;
  margin-right: 40px;
}
.topBox {
  position: relative;
  background-color: #ffffff;
  margin-bottom: 60px;
  padding-bottom: 40px;
}
.topBox .headers {
  display: flex;
  justify-content: space-between;
  margin-right: 30px;
}
.topBox .title {
  height: 60px;
  font-weight: bolder;
  padding-top: 28px;
  margin: 20px 50px 20px;
  font-size: 40px;
  text-align: left;
  line-height: 60px;
}
.topBox .dis {
  position: absolute;
  top: 70px;
  right: 210px;
  font-size: 20px;
  font-weight: bolder;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.topBox .btn {
  position: absolute;
  top: 40px;
  right: 70px;
}
.topBox ul {
  margin-left: 20px;
}
.topBox ul li {
  color: #6c98e6;
  margin: 16px auto 0px;
  font-size: 20px;
}
.topBox ul li span {
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-right: 20px;
  font-size: 20px;
}
.topBox .tags {
  display: flex;
  justify-content: start;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 50px 60px;
}
.topBox .tags li {
  width: 400px;
  color: black;
  margin-top: 20px;
}
.row .right {
  flex: 1;
}
.select {
  background-color: #ffffff;
  width: 350px;
}
.select div {
  width: 300px;
  margin: 6px 10px 0px;
}
.select div .el-select {
  width: 330px;
}
#point {
  position: absolute;
  right: 60px;
  top: 50px;
  font-size: 26px;
  color: #9bd6ff;
}
#point:hover {
  cursor: pointer;
}
.rowFooter {
  display: flex;
  justify-content: start;
}
.rowFooter .left {
  margin: -40px -160px -114px -134px;
}
.rowFooter .left .row {
  width: 300px;
  display: flex;
  justify-content: start;
  flex-direction: column;
}
.tagContact {
  display: flex;
  justify-content: start;
}
.tagContact ul li {
  width: 60px;
  margin: 10px 20px;
}
.rowFooter .right {
  margin: 60px;
}
.lis {
  width: 600px;
  height: 200px;
  display: flex;
  justify-content: space-between;
  margin: 20px;
  flex-direction: column;
}
.lis div {
  margin: 10px;
  color: #7aa0e2;
}
.imgRight {
  margin: 20px;
  display: flex;
  justify-content: start;
  flex-direction: column;
}
.imgRight div {
  margin: 6px 0px 10px 10px;
}
.el-button {
  margin-top: 20px;
  margin-left: 12px;
  color: white;
  background-color: #f0a34a;
  height: 50px;
  width: 120px;
}
.el-button:hover {
  background-color: #409eff;
}
#btnR {
  width: 400px;
  margin-left: 90px;
}
#btnR .el-button {
  width: 380px;
  background-color: #f0a34a;
}
.el-tab-pane:hover {
  color: white;
  background-color: #40b8ff;
}
.section {
  width: 380px;
  background-color: #ffffff;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
  border-left: 4px solid #dcdfe6;
  border-top: 4px solid #dcdfe6;
}
.Rtitle {
  font-size: 22px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  height: 30px;
  line-height: 30px;
  padding-top: 20px;
}
.section ul {
  margin: 20px;
  display: flex;
  justify-content: start;
  flex-direction: column;
}
.section ul li {
  color: #6c98e5;
  margin-bottom: 10px;
}
.tagImgs {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 6px;
}
.tagImgs div {
  width: 40%;
}
.btn-price {
  color: #6c98e1;
  font-weight: bolder;
  margin-left: 6px;
}
.entry-title {
  font-weight: bolder;
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left: 6px;
}
.boxs {
  display: flex;
  justify-content: space-between;
  margin: 20px 20px 40px;
}
.Bigbox {
  margin: 0px 0px 0px 0px;
  height: 110px;
}
